---
- name: Install Xdebug
  apt: 
    name: "php{{ php_version }}-xdebug"
    state: present

- name: Create Xdebug configuration directory
  file:
    path: "/etc/php/{{ php_version }}/mods-available"
    state: directory
    mode: '0755'

- name: Configure Xdebug (Xdebug 3.x configuration)
  ini_file:
    path: "/etc/php/{{ php_version }}/mods-available/xdebug.ini"
    section: xdebug
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    backup: true
  loop:
    - { option: "xdebug.mode", value: "{{ xdebug_mode }}" }
    - { option: "xdebug.start_with_request", value: "{{ xdebug_start_with_request }}" }
    - { option: "xdebug.client_port", value: "{{ xdebug_client_port }}" }
    - { option: "xdebug.client_host", value: "{{ xdebug_client_host }}" }
    - { option: "xdebug.idekey", value: "{{ xdebug_idekey }}" }
    - { option: "xdebug.discover_client_host", value: "true" }
    - { option: "xdebug.log_level", value: "0" }
  notify:
    - restart apache
    - restart php-fpm

- name: Enable Xdebug module for CLI
  shell: phpenmod -v {{ php_version }} -s cli xdebug
  changed_when: false

- name: Enable Xdebug module for Apache
  shell: phpenmod -v {{ php_version }} -s apache2 xdebug
  when: php_webserver == "apache2"
  changed_when: false
  notify: restart apache

- name: Enable Xdebug module for FPM
  shell: phpenmod -v {{ php_version }} -s fpm xdebug
  when: php_webserver == "fpm"
  changed_when: false
  notify: restart php-fpm
